.comments{
    border: 1px solid;
    font-size: .8em;

}

.comments h3, .comments h4{
    margin: 0;  
}

.comments h3{
    color: blue;
}

#comment_content{
    width: 100%;
    box-sizing: border-box;
}

#loadMore{
    padding: .5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    border-radius: .5em;
    background-color: lightblue;
    margin: 1em;
  

}

#button{
    text-align: center;
}

#addComment{
    display: none;
}