<!--div *ngIf="weather">
    <div class="row">
        <h3 class="mx-auto">The weather in {{weather.place}}</h3>
    </div>
    <div class="row">
        <img id="weatherIcon" class="mx-auto" src="{{weather.picture}}">
    </div>
    <div class="row">
        <h3 id="description" class="mx-auto">{{weather.description}} and {{weather.temp}}</h3>
    </div>
</div-->

<div class="row">
    <h3 class="mx-auto">The weather in {{weather.place}}</h3>
</div>
<div class="row">
    <img id="weatherIcon" class="mx-auto" src="{{weather.picture}}">
</div>
<div class="row">
    <h3 id="description" class="mx-auto">{{weather.description}} and {{weather.temp}}</h3>
</div>